@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@font-face {
  font-family: mokoto;
  src: url("/font/Mokoto_Glitch.otf");
}

@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  html {
    font-family: mokoto, system-ui, sans-serif;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 8vh;
  --card-width: calc(var(--card-height) / 0.3);
}

.nonGlowBtn {
  background: #191c29;
  width: var(--card-width);
  height: 8.3vh;
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
}

.glowBtn {
  background-color: #000;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
}

.glowBtn::before {
  content: "";
  width: 104%;
  height: 111%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -5%;
  left: -2%;
  animation: spin 2s linear infinite;
}

.glowBtn::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

.glowBtn:hover::after,
.glowBtn:hover::before {
  animation: none;
  box-shadow: ;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@media screen and (max-width: 480px) {
  .glowBtn {
    width: 80vw;
    margin: auto;
  }

  .glowBtn::before {
    content: "";
    width: 104%;
    height: 116%;
    top: -8%;
  }

  .nonGlowBtn {
    width: 84vw;
    margin: auto;
  }
}
